.center {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

.nav {
    height: 89px;
    font-size: 13px;
    padding-top: 10px;
}

.footer {
    font-size: 13px;
    background-color: whitesmoke;
    border-top: .5px solid #e4e4e4;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.right{
    float:right;
}

.searchbutton{
   margin-top: 30px;
   background-color: whitesmoke;
   color: gray;
   border: none;
}

.searchbutton:hover{
    border: 1px solid gray;
    color: black;
    border-radius: 4px;
}


#signin {
    background-color: #4285f4;
    color: white;
    margin-right: 30px;

}

body {
    font-family: arial,sans-serif;
}

button{
    font-size: 13px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 6px;
}
input {
    width: 50%;
    font: 16px arial,sans-serif;
    height: 34px;  
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}